body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image:url('/images/library3.jpg');
  text-align: center;
  vertical-align: middle;
  color:white;
  font-size: 1rem;
}

.link-to-books {
  font-size: 3rem;
  margin-top: 180px;
  justify-items: center;

  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  border: solid 3px white;
}

a {
  border-bottom: none;
  text-decoration-line: none;
  color: white;
}

/*books file*/
.books-h2 {
  color:white;
  font-size: 2rem;
}

.books-list{
  width: 200px;
  display: inline-flex;
  padding-top: 50px;
}

.add-newBook{
padding: 0.5em 2em;
font-weight: bold;
font-size: 1.5rem;
border: solid 3px white;
height:40px;
padding-top: 20px;
}

.back-page{
  padding: 1em;
  font-weight: bold;
  font-size: 1.5rem;
}

/* 480px, smart phone */
@media screen and (max-width: 480px) {
  body {
    color: red;
}

}